<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title>
      Principais Pontos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="/assets/img/teatro-amazonas.jpg"/>
    <ion-card-header>
      <ion-card-title>Teatro Amazonas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      O Teatro Amazonas é um dos principais pontos turísticos de Manaus.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="/assets/img/photo.jpg"/>
    <ion-card-header>
      <ion-card-title>A Arena da Amazônia</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      A Arena da Amazônia é um estádio multiuso localizado na cidade de Manaus, capital do Amazonas. 
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="/assets/img/mindu.jpg"/>
    <ion-card-header>
      <ion-card-title>O Parque Municipal do Mindu</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      O Parque Municipal do Mindu é um parque urbano localizado no centro geográfico da cidade de Manaus, no Brasil. 
    </ion-card-content>
  </ion-card>

</ion-content>
